<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <section class="fondo">
        <div class="arriba">
            <div class="circulo1"></div>
            <div class="circulo2"></div>
            <div class="circulo3"></div>
        </div>
        <p>EN UN CLICK</p>
        <img src="https://cdn-icons-png.flaticon.com/512/63/63560.png" alt="flecha">
        <h1>LIBRERIA</h1>
        
        <button>Buscar</button>
    </section>
</body>
</html>