<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <section class="about">
        <h1>"CONTEXTO"</h1>
        <img src="C:\Users\fgige\Desktop\fi_ucema\flask_exercise\Captura de pantalla 2023-06-07 134457.png" alt="cruz">
    </section>

    <section  class= "medio">
        <img src="https://thumbs.dreamstime.com/b/cuadr%C3%ADcula-de-rompecabezas-tabla-celdas-cuadradas-plantilla-vector-ilustraci%C3%B3n-sudoku-gr%C3%A1fica-vac%C3%ADa-187754818.jpg" alt="welcome"> 


    </section>

    <section class="foot">
        <p>AUTOR/A: ANA VELEZ</p>
    </section>
    

</body>
</html>